@font-face {
  font-family:"SFProDisplay";
  src:url("fonts/SFProDisplay-Regular.eot");
  src:local("☺"), 
      url("../fonts/SFProDisplay-Regular.woff") 
      format("woff"), 
      url("../fonts/SFProDisplay-Regular.ttf") 
      format("truetype"), 
      url("../fonts/SFProDisplay-Regular.svg") 
      format("svg");
  font-weight:400;
  font-style:normal;
}

body, h1, h2, h3, h4, h5, h6, p, a, form, button, input, textarea, ul, li {
  font-family: "SFProDisplay";
}

a {
  text-decoration: none;
}

body, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
  font-family: "SFProDisplay";
}

section {
  min-height: 600px;
}

.content {
  max-width: 1170px;
  margin: 0 auto;
}

:root {
  --white-color: #fff;
  --black-color: #000;
  --blue-color-1: #1A6FEF;
  --text-color-1: #222222;
  --text-color-2: #666666;
  --text-color-3: #9C9C9C;
  --text-color-4: #636363;
  --line-color-1: #E0E0E0;
  --bg-color-1: #F9F9F9;
}

/* header */
header {
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
}

header .content {
  padding: 38px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__menu ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.header__menu ul li{
  padding: 0px 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
}

.header__menu ul li a {
  color: var(--text-color-1);
}

.header__menu ul li a:hover {
  color: var(--text-color-2);
}

.header__burger {
  display: none;
}

.header__lang_items {
  padding: 3px 6px;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  color: var(--text-color-1);
}

.active_lang {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background: #F3F3F3;
}

.header__search_user {
  display: flex;
  align-items: center;
}

.header__search {
  padding: 13px 24px 9px 24px;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 6px;
  margin: 0 10px 0 0;
}

.header__user {
  padding: 10px 20px 6px 20px;
  background: var(--white-color);
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 6px;
}

/* ===INDEX.HTML=== */
/* main */
main .content {
  margin-top: 40px;
  margin-bottom: 40px;
  background: #FFE9BC;
  border-radius: 16px;
  display: flex;
  padding: 120px 0px;
  align-items: center;
  position: relative;
}

.main__title {
  /* flex: 0 0 50%; */
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 135%;
  display: flex;
  align-items: flex-end;
  text-align: center;
  color: #000000;
  padding-left: 29px;
  padding-right: 15px;
}

.main__image {
  /* flex: 0 0 50%; */
  padding-left: 14px;
  padding-right: 29px;
}

/* summa */
.summa .content {
  padding: 40px 0;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1), 0px 5px 10px rgba(0, 0, 0, 0.05), inset 0px 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 64px;
  position: relative;
}

.summa__heart_icon {
  position:absolute;
}

#summa__heart_icon1 {
  top: 120px;
  left: 250px;
}
#summa__heart_icon2 {
  top: 270px;
  left: 170px;
}
#summa__heart_icon3 {
  bottom: 120px;
  left: 300px;
}
#summa__heart_icon4 {
  top: 80px;
  right: 180px;
}
#summa__heart_icon5 {
  top: 300px;
  right: 220px;
}
#summa__heart_icon6 {
  bottom: 120px;
  right: 150px;
}

.summa__title {
  max-width: 506px;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 130%;
  display: flex;
  align-items: flex-end;
  text-align: center;
  color: #222222;
  margin: 0;
}

.summa__form {
  max-width: 385px;
  text-align: center;
}

.summa__count {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 25px;
  margin: 0;
  padding: 23px;
}

/* .summa__count_items {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 130%;
  display: flex;
  flex-direction: column;
  color: #CC9933;
  padding-top: 14px;
  padding-bottom: 14px;
  border: 1.5px solid #F3F3F3;
  box-sizing: border-box;
  border-radius: 30px;
  text-align: center;
} */

.summa__count_radio {
  display: none;
}

.summa__count_radio + .summa__count_items {
  display:inline-block;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 130%;
  display: flex;
  flex-direction: column;
  color: #CC9933;
  padding-top: 14px;
  padding-bottom: 14px;
  border: 1.5px solid #F3F3F3;
  box-sizing: border-box;
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
}

.summa__count_radio:checked + .summa__count_items {
  background: #FBF0DB;
  outline: 0;
  border: 1.5px solid #CC9933;
}


.summa__othersum {
  width: 100%;
  text-align: center;
  padding: 17px;
  border: 1.5px solid #F3F3F3;
  box-sizing: border-box;
  border-radius: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 130%;
  outline: none;
  margin: 0 0 15px 0;
}

.summa__email {
  width: 100%;
  text-align: center;
  padding: 17px;
  border: 1.5px solid #F3F3F3;
  box-sizing: border-box;
  border-radius: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 130%;
  outline: none;
  margin: 0 0 30px 0;
}

.summa__othersum::-webkit-outer-spin-button,
.summa__othersum::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.summa__button {
  padding-top: 19px;
  padding-bottom: 19px;
  width: 100%;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 100%;
  background: #CC9933;
  border-radius: 30px;
  border: 0;
}

/* .active_summa {
  background: #FBF0DB;
  border: 1.5px solid #CC9933;
} */

/* footer */
footer {
  background: #FFF8EB;
}
footer .content {
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__downloadApp {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__downloadApp_title {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 135%;
  display: flex;
  align-items: flex-end;
  text-align: center;
  color: #000000;
  margin: 0 0 15px 0;
}

.footer__downloadApp_android_apple {
  display: flex;
}

.footer__downloadApp_android {
  display: flex;
  align-items: center;  
  padding: 13px 19px;
  background: var(--white-color);
  border-radius: 12px 0px 0px 12px;
  margin: 0 1px 0 0;
}

.footer__downloadApp_apple {
  display: flex;
  align-items: center;  
  padding: 13px 19px;
  background: var(--white-color);
  border-radius: 0px 12px 12px 0px;
}

.footer__downloadApp_android img, .footer__downloadApp_apple img {
  margin: 0 14px 0 0;
}

.footer__downloadApp_android p, .footer__downloadApp_apple p {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.3px;
  color: #222222;
}

.footer__allrights p {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 140%;
  color: #222222;
}

@media (max-width: 1200px) {
  .content {
    max-width: 1050px;
    margin: 0 auto;
  }
}

@media (max-width: 1100px) {
  .content {
    max-width: 950px;
    margin: 0 auto;
  }

  main .content {
    flex-direction: column;
  }

  .main__title {
    padding-left: 29px;
    padding-right: 29px;
    margin: 0 0 30px 0;
  }

  .main__image {
    /* flex: 0 0 50%; */
    padding-left: 29px;
    padding-right: 29px;
  }

  .summa__heart_icon {
    display: none;
  }
}

@media (max-width: 1024px) {
  .content {
    max-width: 920px;
    margin: 0 auto;
  }
}

@media (max-width: 970px) {
  .content {
    max-width: 870px;
    margin: 0 auto;
  }
}

@media (max-width: 920px) {
  .content {
    max-width: 820px;
    margin: 0 auto;
  }
}

@media (max-width: 870px) {
  .content {
    max-width: 770px;
    margin: 0 auto;
  }
}

@media (max-width: 820px) {
  .content {
    max-width: 720px;
    margin: 0 auto;
  }

  footer .content {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .footer__logo, .footer__downloadApp {
    margin: 0 0 30px 0;
  }
}

@media (max-width: 768px) {
  .content {
    max-width: 700px;
    margin: 0 auto;
  }

  .main__image {
    padding: 0;
    width: 90%;
  }
}

@media (max-width: 720px) {
  .content {
    max-width: 620px;
    margin: 0 auto;
  }
}

@media (max-width: 670px) {
  .content {
    max-width: 570px;
    margin: 0 auto;
  }

  .header__menu {
    display: none;
  }

  .main__image {
    padding: 0;
    width: 80%;
  }

  .main__title {
    font-size: 30px;
  }

  .summa__title {
    font-size: 28px;
  }
}

@media (max-width: 620px) {
  .content {
    max-width: 520px;
    margin: 0 auto;
  }
}

@media (max-width: 570px) {
  .content {
    max-width: 470px;
    margin: 0 auto;
  }
}

@media (max-width: 520px) {
  .content {
    max-width: 420px;
    margin: 0 auto;
  }
}

@media (max-width: 450px) {
  .content {
    max-width: 400px;
    margin: 0 auto;
  }

  .summa__button, .summa__email, .summa__othersum {
    width: 92%;
  }

  header .content {
    padding: 20px 0;
  }

  main .content {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px 0px;
  }

  .summa .content {
    padding: 30px 0;
  }
}

@media (max-width: 420px) {
  .content {
    max-width: 375px;
    margin: 0 auto;
  }

  .footer__downloadApp_android p, .footer__downloadApp_apple p {
    font-size: 18px;
  }

  .footer__downloadApp_android, .footer__downloadApp_apple {
    padding: 13px 10px;
  }

  .main__title {
    font-size: 25px;
  }

  .summa__title {
    font-size: 24px;
  }

  .summa__button, .summa__email, .summa__othersum {
    font-size: 20px;
  }
}

@media (max-width: 375px) {
  .content {
    max-width: 320px;
    margin: 0 auto;
  }

  .main__title {
    font-size: 17px;
  }

  .summa__title {
    font-size: 18px; 
  }

}

@media (max-width: 320px) {
  .content {
    max-width: 270px;
    margin: 0 auto;
  }
}